<?xml version="1.0" encoding="utf-8"?>
<projects>
    <SW17W16>
        <battery_capacity>3000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>310</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>102</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>33</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>0.84</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>58</zero_ten_time>
        <ten_twenty_time>52</ten_twenty_time>
        <twenty_thirty_time>53</twenty_thirty_time>
        <thirty_forty_time>54</thirty_forty_time>
        <forty_fifty_time>55</forty_fifty_time>
        <fifty_sixty_time>56</fifty_sixty_time>
        <sixty_seventy_time>58</sixty_seventy_time>
        <seventy_eight_time>60</seventy_eight_time>
        <eight_ninety_time>65</eight_ninety_time>
        <ninety_hundred_time>66</ninety_hundred_time>
    </SW17W16>
    <CSW1702>
        <battery_capacity>4000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1400</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>292</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>102</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>6.0</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>0.75</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>95</zero_ten_time>
        <ten_twenty_time>70</ten_twenty_time>
        <twenty_thirty_time>75</twenty_thirty_time>
        <thirty_forty_time>74</thirty_forty_time>
        <forty_fifty_time>76</forty_fifty_time>
        <fifty_sixty_time>74</fifty_sixty_time>
        <sixty_seventy_time>74</sixty_seventy_time>
        <seventy_eight_time>77</seventy_eight_time>
        <eight_ninety_time>81</eight_ninety_time>
        <ninety_hundred_time>107</ninety_hundred_time>
    </CSW1702>
    <CSW1705>
        <battery_capacity>3500</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1410</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>450</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>306</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>102</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>9.6</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>0.75</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>144</zero_ten_time>
        <ten_twenty_time>113</ten_twenty_time>
        <twenty_thirty_time>107</twenty_thirty_time>
        <thirty_forty_time>108</thirty_forty_time>
        <forty_fifty_time>106</forty_fifty_time>
        <fifty_sixty_time>103</fifty_sixty_time>
        <sixty_seventy_time>108</sixty_seventy_time>
        <seventy_eight_time>106</seventy_eight_time>
        <eight_ninety_time>110</eight_ninety_time>
        <ninety_hundred_time>148</ninety_hundred_time>
    </CSW1705>
    <CSW1703>
        <battery_capacity>3000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>306</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>90</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>7.5</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>0.75</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>64</zero_ten_time>
        <ten_twenty_time>62</ten_twenty_time>
        <twenty_thirty_time>54</twenty_thirty_time>
        <thirty_forty_time>57</thirty_forty_time>
        <forty_fifty_time>58</forty_fifty_time>
        <fifty_sixty_time>57</fifty_sixty_time>
        <sixty_seventy_time>60</sixty_seventy_time>
        <seventy_eight_time>66</seventy_eight_time>
        <eight_ninety_time>69</eight_ninety_time>
        <ninety_hundred_time>78</ninety_hundred_time>
    </CSW1703>
    <CSW1707>
        <battery_capacity>3000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>277</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>102</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>18</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>0.75</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>139</zero_ten_time>
        <ten_twenty_time>149</ten_twenty_time>
        <twenty_thirty_time>143</twenty_thirty_time>
        <thirty_forty_time>151</thirty_forty_time>
        <forty_fifty_time>166</forty_fifty_time>
        <fifty_sixty_time>179</fifty_sixty_time>
        <sixty_seventy_time>170</sixty_seventy_time>
        <seventy_eight_time>80</seventy_eight_time>
        <eight_ninety_time>68</eight_ninety_time>
        <ninety_hundred_time>77</ninety_hundred_time>
    </CSW1707>
    <SWW1618A>
        <battery_capacity>4000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>330</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>14.5</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>0.83</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>93</zero_ten_time>
        <ten_twenty_time>68</ten_twenty_time>
        <twenty_thirty_time>68</twenty_thirty_time>
        <thirty_forty_time>70</thirty_forty_time>
        <forty_fifty_time>69</forty_fifty_time>
        <fifty_sixty_time>71</fifty_sixty_time>
        <sixty_seventy_time>72</sixty_seventy_time>
        <seventy_eight_time>74</seventy_eight_time>
        <eight_ninety_time>75</eight_ninety_time>
        <ninety_hundred_time>86</ninety_hundred_time>
    </SWW1618A>
   <CSW1802>
        <battery_capacity>4000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>319</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>127</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>7.3</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>1</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>93</zero_ten_time>
        <ten_twenty_time>87</ten_twenty_time>
        <twenty_thirty_time>75</twenty_thirty_time>
        <thirty_forty_time>84</thirty_forty_time>
        <forty_fifty_time>86</forty_fifty_time>
        <fifty_sixty_time>84</fifty_sixty_time>
        <sixty_seventy_time>87</sixty_seventy_time>
        <seventy_eight_time>92</seventy_eight_time>
        <eight_ninety_time>94</eight_ninety_time>
        <ninety_hundred_time>112</ninety_hundred_time>
    </CSW1802>
 </projects>
